@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0a;
    --primary: #1a1a1a;
    --secondary: #333333;
    --accent: #666666;
    --text: #ffffff;
  }
  /* .theme-light {
    --background: "#fff";
    --primary: "#666666";
    --accent: "#999999";
    --text: "#000";
  } */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all duration-200;
}

#root {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh;
  /* background: antiquewhite; */
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

body {
  color-scheme: dark;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.default_button {
  @apply bg-gray-50 text-gray-900 text-sm rounded-lg p-2.5 transition-transform transform active:scale-95;
}
